.ordersSection{
    position: relative;
    width: 80%;
    margin: 0 auto;
    transition: 0.5s;
}
.ordersSection > header > h2 {
    text-align: center;
    font-size: 2rem;
    color: var(--gray);
    font-weight: 300;
}
.ordersSection > header{
    margin-top: 5vh;
}
#orderStatus{
    padding: 1vh 2vw;
    background-color: var(--gray);
    color: var(--offWhite);
    font-family: var(--fontFamily);
    font-size: 1.2rem;
    outline: none;
    position: absolute;
    right: 2vw;
}
#orderStatus > option{
    background-color: var(--white);
    color: var(--gray);
}
#ordersList{
    margin: 7vh auto;
    display: flex;
    gap: 1vh;
    flex-direction: column;
    background-color: var(--red);
    padding: 1vh 7px;
    border-radius: 10px;
    transition: 0.5s;
}
.orderItem{
    display: flex;
    flex-direction: column;
}

.mainOrderInfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1vw;
    padding: 1vh 0;
    border-radius: 10px;
    font-family: var(--fontFamily);
    font-size: 1.1rem;
    background-color: var(--white);
}
.mainOrderInfo > :first-child, .mainOrderInfo > :nth-child(2){
    flex-grow: 3;
    padding: 0 2vw;
}

.mainOrderInfo > :nth-child(3), .mainOrderInfo > :nth-child(4), .mainOrderInfo > :last-child{
    flex-grow: 2;
    text-align: center;
}
.mainOrderInfo :last-child{
    border: none;
    padding: 10px;
    outline: none;
    font-family: var(--fontFamily);
    font-size: 1.1rem;
}
.status{
    background-color: var(--skyBlue);
    color:var(--white);
}
.status > option{
    background-color: var(--white);
    color: var(--gray);
}
.mainOrderInfo :where(a){
    color: var(--gray);
    text-decoration: none;
    background-color: var(--offWhite);
    text-align: center;
}
#ordersNotifier{
    margin-top: 10px;
    font-family: var(--fontFamily);
    font-size: 1.8rem;
    color: var(--gray);
    text-align: center;
    font-weight: 300;
    font-style: italic;
}

@media screen and (max-width: 850px) {
    .ordersSection{
        width: 95%;
    }
    .mainOrderInfo{
        flex-wrap: wrap;
    }
}